fastapi
uvicorn
python-multipart
numpy>=1.24.0
librosa>=0.10.0
resampy>=0.4.0
scipy>=1.10.0
pandas>=1.5.0
matplotlib>=3.7.0
soundfile>=0.12.1
birdnetlib>=0.6.0
tensorflow>=2.13.0
groq>=0.4.0
torch>=2.0.0
scikit-learn>=1.3.0
python-dotenv>=1.0.0
